################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Angular01/Demo/.vs/Demo/v16/TestStore/0
/Angular01/Demo/.vs/Demo/v16/.suo
/Angular01/Demo03/Demo03.BusinessLayer/bin/Debug/netcoreapp3.1
/Angular01/Demo03/Demo03.BusinessLayer/obj
/Angular01/Demo03/Demo03.DataLayer/bin/Debug
/Angular01/Demo03/Demo03.DataLayer/obj/Debug
/Angular01/Demo03/Demo03.miWebAPI/bin/Debug/netcoreapp3.1
/Angular01/Demo03/Demo03.miWebAPI/obj
/Angular01/Demo03/Demo03.webAPI/obj
/Angular01/Demo03/.vs/Demo03/DesignTimeBuild/.dtbcache.v2
/Angular01/Demo03/.vs/Demo03/v16/.suo
