################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Angular01/Demo/.vs/Demo/v16/TestStore/0
/Angular01/Demo/.vs/Demo/v16/.suo
