<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">nombre</div>
            <div class="col-md-8">{{this.nombre}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">tipo</div>
            <div class="col-md-8">{{this.tipo}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">defensa</div>
            <div class="col-md-8">{{this.defensa}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">evasión</div>
            <div class="col-md-8">{{this.evasion}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">precio</div>
            <div class="col-md-8">{{this.precio}}</div>
        </div>
    </div>
</div>
