<div class="card">
    <div class="card card-header">
        <h3>Miembro</h3>
    </div>
    <div class="card card-body">
        <em>Recibo desde el componente padre los valores de: nombre, id y clase; entonces ejecuto onNgInit() para inicializar el resto de las propiedades</em>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">Id: </div><div class="col-md-8">{{this.id}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Nombre: </div><div class="col-md-8">{{this.nombre}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Clase: </div><div class="col-md-8">{{this.clase}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        Experiencia: 
                    </div>
                    <div class="col-md-2">
                        {{this.experiencia}}
                    </div>
                    <div class="col-md-4">
                        Nivel:
                    </div>
                    <div class="col-md-2">
                        {{this.nivel}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Salud:</div>
                    <div class="col-md-2">{{this.salud}}</div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Ataque:</div>
                    <div class="col-md-2">{{this.ataque}}</div>
                    <div class="col-md-4">Certeza:</div>
                    <div class="col-md-2">{{this.certeza}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Defensa:</div>
                    <div class="col-md-2">{{this.defensa}}</div>
                    <div class="col-md-4">Evasión:</div>
                    <div class="col-md-2">{{this.evasion}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <rpg-arma [nombre]="arma.nombre" [tipo]="arma.tipo"></rpg-arma>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" *ngFor="let proteccion of armaduras">
                <rpg-armadura [nombre]="proteccion.nombre" [tipo]="proteccion.tipo"></rpg-armadura>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="this.addExperiencia(10)">Más experiencia</button>
                <div class="btn-group">
                    <button class="btn btn-secondary" (click)="this.addArma('cuchillo')">+ cuchillo</button>
                    <button class="btn btn-secondary" (click)="this.addArma('espada')">+ espada</button>
                    <button class="btn btn-secondary" (click)="this.addArma('mazo')">+ mazo</button>
                    <button class="btn btn-secondary" (click)="this.addArma('hacha')">+ hacha</button>
                    <button class="btn btn-secondary" (click)="this.addArma('bastón')">+ bastón</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" (click)="this.addArmadura('escudo')">+ escudo</button>
                    <button class="btn btn-warning" (click)="this.addArmadura('peto')">+ peto</button>
                    <button class="btn btn-warning" (click)="this.addArmadura('casco')">+ casco</button>
                    <button class="btn btn-warning" (click)="this.addArmadura('guantelete')">+ guantelete</button>
                    <button class="btn btn-warning" (click)="this.addArmadura('capa')">+ capa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-footer">
        <em>Agrego un cuchillo especificando solo el tipo en el método invocado. Luego mando a llamar <strong>ngOnChanges()</strong> que actualiza los valores de otras propiedades, de forma que pueda retornarlas a este componente y actualizar a mi integrante.</em><br />
        Invoco los métodos en los botones con el evento <strong>(click)</strong> definido al que le paso como valor la función a utilizar con sus parámetros.<br />
    </div>
</div>

